@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';


@font-face {
    font-family: 'Heavitas';
    src: url('../fonts/Heavitas.ttf') format('truetype');
}

@font-face {
    font-family: 'cash2';
    src: url('../fonts/Blue_Cashews.otf') format('opentype');
}

@font-face {
    font-family: 'cash';
    src: url("../fonts/Cashmero (Demo_Font).otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-sans: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-cash2: 'cash2';
    --font-cash: cash;


    --color-cerulean-50:  #eef4f7;
    --color-cerulean-100: #dceaef;
    --color-cerulean-200: #bad5de;
    --color-cerulean-300: #97bfce;
    --color-cerulean-500: #5295ad;
    --color-cerulean-600: #41778b;
    --color-cerulean-700: #315968;
    --color-cerulean-800: #213c45;
    --color-cerulean-900: #101e23;
}


/*to make it usable in pages*/
@layer utilities {
    .font-heavitas {
        font-family: 'Heavitas';
    }
}
